* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, 
html{
    font-family: 'Roboto', sans-serif;
}

nav {
   height: 60px; /* Define the height of the navigation bar in pixels */
}


a {
    /* These are the children elements */
    color:black;
    text-decoration: none;
}

ul.flex-container {
    display: flex;
    justify-content: space-around; /* 在项目之间均匀分配空间 */
    list-style-type: none; /* 去除列表项的圆点符号 */
    padding: 0;
    margin: 0;
    background-color: red;
}

.flex-container li {
    padding: 10px;
}

.flex-container a {
    text-decoration: none; /* 去除链接的下划线 */
    color: white;
    font-size: 18px;
    
}

.flex-container a:hover {
    color: blue; /* 鼠标悬停时更改颜色 */
}
