*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
    font-family: "Roboto", sans-serif
}
.container{
    padding-bottom: 24px;
}

.neon{
    color:#00d200
}

p{
    padding-bottom: 20px;
}